[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest-watch = "*"

[packages]
requests = "*"
celery = "*"
redis = "*"
ptpython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
